<div class="accordion" id="accordionExample">
  <div
    class="accordion-item"
    *ngFor="let name of pokemonTypeName; let i = index"
  >
    <h2 class="accordion-header">
      <button
        *ngIf="pokemonTypeName"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
        [attr.data-bs-target]="'#collapseOne' + i"
      >
        {{ name }}
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
      [id]="'collapseOne' + i"
    >
      <div class="accordion-body" *ngIf="pokemonTypeName">
        <div class="accordion" id="sub-accordionExample">
          <div
            class="accordion-item"
            *ngFor="let name of pokemonDamages; let i = index"
          >
            <h2 class="accordion-header" id="heading{{ i }}">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + i"
                aria-expanded="false"
                [attr.aria-controls]="'collapse' + i"
              >
                {{ name }}
              </button>

              <div
                [id]="'collapse' + i"
                class="accordion-collapse collapse"
                [attr.aria-labelledby]="'heading' + i"
                [attr.data-bs-parent]="'#accordionExample' + i"
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li
                      class="list-group-item"
                      *ngFor="let damage of pokemonTypesDamage"
                    >
                      {{ damage }}
                    </li>
                  </ul>
                </div>
              </div>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
