<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        *ngIf="pokemonType && pokemonType.names"
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        {{ pokemonType.names[5].name }}
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body" *ngIf="pokemonType">
        <div class="accordion" id="sub-accordionExample">
          <div
            class="accordion-item"
            *ngFor="let name of pokemonDamages; let i = index"
          >
            <h2 class="accordion-header" id="heading{{ i }}">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + i"
                aria-expanded="false"
                [attr.aria-controls]="'collapse' + i"
              >
                {{ name }}
              </button>

              <div
                [id]="'collapse' + i"
                class="accordion-collapse collapse"
                [attr.aria-labelledby]="'heading' + i"
                [attr.data-bs-parent]="'#accordionExample' + i"
              >
                <div class="accordion-body">Holaaa</div>
              </div>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
