<div class="container my-5">
  <h1>Pokemon Wiki</h1>
  <hr />

  <app-search-box
    (onDebounce)="onSearch($event)"
    placeholder="Busca un Pokemon"
  ></app-search-box>

  <div class="row">
    <div *ngIf="pokemonSearched" class="col-xl-4 col-sm-6 col-xs-12">
      <app-card
        [pokemon]="pokemonSearched"
        [pokemonImage]="pokemonImage"
      ></app-card>
    </div>

    <div *ngIf="pokemonSearched" class="col-xl-4 col-sm-6 col-xs-12 mt-5">
      <app-pokemon-type-card
        [pokemonTypeName]="pokemonTypeName"
      >
      </app-pokemon-type-card>
    </div>
  </div>
</div>
